<%- include('./partials/head') %>

<header>
  <p>Squad-A <span>Members</span></p>
</header>

<main>
  <div class="page">
    <div class="text">
      <h1></h1>
      <details>
        <summary>Codeer taal</summary>
        <ul>
          <li>HTMl</li>
          <li>CSS</li>
          <li>JS</li>
        </ul>
      </details>
    </div>
    <div class="overview">
      <div class="cards">
        <% squad.members.forEach(member => { %>
        <div class="card">
          <% if (member.avatar) { %>
          <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
          <% }else{ %>
          <img src="./public/assets/placeholder.jpg" alt="Placeholder avatar" />
          <% } %>
          <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
          <h4><%= member.gitHubHandle %></h4>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>

<%- include('./partials/foot') %>
